:root {
    /* base | secondary | button | link */
    --hue: 227;
    --shue: 25;
    --bhue: var(--hue);
    --lhue: var(--hue);

    --_color_difference: 8;
    --outline_delay: 240ms;
    --link_transition_delay: 480ms;



    /* ~*~*~{ Dark Mode }~*~*~ */
    --darkMode-bg_main: hsl(var(--hue), 12%, 16%);
    --darkMode-bg_card: hsl(var(--hue), 12%, 12%);
    --darkMode-bg_footer: hsl(var(--hue), 8%, 8%);
    
    --darkMode-text_h2: hsl(var(--shue), 12%, 96%);
    --darkMode-text_h3: hsl(var(--shue), 80%, 80%);
    --darkMode-text_p: hsl(var(--hue), 12%, 88%);

    --darkMode-bg_link: hsl(var(--lhue), 80%, 80%);
    --darkMode-text_link: hsl(var(--lhue), 12%, 96%);
    --darkMode-text_link-hover: hsl(var(--lhue), 100%, 96%);
    --darkMode-text_link-focus_visible: hsl(var(--lhue), 24%, 24%);

    --darkMode-text_button-dark: hsl(var(--bhue), 12%, 4%);
    --darkMode-text_button-light: hsl(var(--bhue), 100%, 96%);
    
    /* ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~ */
}



body {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    overflow-x: hidden;
    background-color: var(--darkMode-bg_main);
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, p, button {
    margin: 0;
}

button {
    border: none;
}





.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    max-width: 320px;
    
    background-color: var(--darkMode-bg_card);
    border-radius: .75rem;
    
    overflow: hidden;
}

.card img {
    display: block;
    width: 100%;
}

.card h1 {
    color: white;
    line-height: 1;
}

.card h2 {
    color: var(--darkMode-text_h2);
}

.card h3 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--darkMode-text_h3);
}

.card p {
    color: var(--darkMode-text_p);
    font-size: .75rem;
}

.card h2, .card h3, .card button svg {
    font-size: 1rem;
}

.card h2, .card p, .card .info .container p  {
    line-height: 1.5;
}

.card button svg {
    width: 1rem;
    height: 1rem;
}

/* Outlines */
.card a, .card button {
    outline-width: 2px;
    outline-color: transparent;
    outline-style: solid;
    outline-offset: 4px;
}

.card button {
    --bs: 72;
    --bl: 52;
    --button-darker_color_logic: calc(var(--bl) - var(--_color_difference));
    --button-lighter_color_logic: calc(var(--bl) + var(--_color_difference));

    display: inline-flex;
    justify-content: center;
    gap: .5rem;

    /*color: hsl(var(--bhue), 12%, 4%);*/
    color: var(--darkMode-text_button-light);
    background-color: hsl(var(--bhue) var(--bs) var(--bl));
    box-shadow: inset 0 0 0 1px hsl(var(--bhue) var(--bs) var(--button-darker_color_logic));
    padding: .5rem .75rem;
    border-radius: .25rem;
    
    font-size: .875rem;
    text-wrap: nowrap;
    
    transition: 
        background-color var(--outline_delay) ease-in-out,
        outline-color var(--outline_delay) ease-in-out;
}

.card button > * {
    text-shadow: 0 0 1rem red;
}

.card button:focus-visible {
    outline-color: hsl(var(--bhue) var(--bs) var(--button-darker_color_logic));
    background-color: hsl(var(--bhue) var(--bs) var(--button-darker_color_logic));
}

.card button:hover {
    background-color: hsl(var(--bhue) var(--bs) var(--button-darker_color_logic));
}



/*
    Each item below corresponds to a hue color of a brand
*/
.card button.email {
    --bhue: 210;
    --bl: 100;
    --bs: 100;
    color: hsl(var(--bhue), 100%, 12%);
}

.card button.github {
    --bhue: 210;
    --bs: 12;
    --bl: 20;
}

.card button .discord {
    --bhue: 227;
}

.card button .linkedin {
    --bhue: 215;
}

.card button .instagram {
    --bhue: 350;
}

.card button.lighter_text {
    color: var(--darkMode-text_button-light);
}
.card button.darker_text {
    color: var(--darkMode-text_button-dark);
}

.card button.hover_darker:hover, .card button.hover_darker:focus-visible {
    background-color: hsl(var(--bhue) var(--bs) var(--button-darker_color_logic));
    outline: hsl(var(--bhue) var(--bs) var(--button-darker_color_logic));
}
.card button.hover_lighter:hover, .card button.hover_lighter:focus-visible {
    background-color: hsl(var(--bhue) var(--bs) var(--button-lighter_color_logic));
    outline: hsl(var(--bhue) var(--bs) var(--button-lighter_color_logic));
}





.card .container {
    display: flex;
    flex-direction: inherit;
    gap: 2rem;
    padding: 0 2rem;
    overflow-wrap: anywhere;
}

.card .info {
    display: inherit;
    flex-direction: inherit;
    gap: 1rem;
}

.card .info .container {
    align-items: center;
    text-align: center;
    gap: .5rem;
}

.card .info .container a.website {
    color: var(--darkMode-text_link);
    text-decoration: none;
    font-size: .75rem;
    line-height: 1.5;
    
    background-image: linear-gradient(to bottom, transparent 90%, var(--darkMode-bg_link) 0%);
	background-size: 0% 100%;
	background-repeat: no-repeat;

    border-radius: .25rem;
    transition:
        background-size var(--link_transition_delay) ease-in-out, 
        color var(--link_transition_delay) ease-in-out, 
        outline-color var(--outline_delay) ease-in-out,
        font-weight var(--outline_delay) ease-in-out,
        padding var(--outline_delay) ease-in-out;
}
.card .info .container a.website:hover {
    background-size: 100% 100%;
    color: var(--darkMode-text_link-hover);
}
.card .info .container a.website:focus-visible {
	background-image: linear-gradient(to bottom, transparent 0%, var(--darkMode-bg_link) 0);
    background-size: 100% 100%;
    outline-color: var(--darkMode-bg_link   );
    color: var(--darkMode-text_link-focus_visible);
    padding-left: .25rem;
    padding-right: .25rem;
}

.card .info .container .list {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    margin-top: .5rem;
    width: 100%;
}

.card .info .container .list > a {
    flex: 1 1 calc(50% - 1rem);
}

.card .info .container .list a button {
    width: 100%;
}



.card footer {
    background-color: var(--darkMode-bg_footer);
}

.card footer.container {
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    gap: 1.5rem;
    flex-direction: row;
}

.card footer button {
    --bs: 4;
    --bl: 56;
    --_color_difference: 16;
}